@import url('https://fonts.gooogleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&displaswap');

*{
    margin: 0;
    padding: 0;;
    box-sizing: border-box;
    font-family: 'Spartan',sans-serif;
}

:root{
    --primary-color:#f2726a;
}

#call-host{
    height: 50vh;
    width: 100%;
    border-radius: 6px;
    margin-top: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(120deg,#836c25,#204b56);
    color: #fff;
}

 .card{
    width: 270px;
    height: 350px;
    background: #9b786b;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
    margin: 0 15px;
}
.card-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.card-img{
    width: 120px;
    height: 120px;
    border: 4px solid var(--primary-color) ;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    transform: translateY(25px);
    transition: 0.5s;
}

.card h2{
    font-size: 25px;
    margin-top: 30px;
    color: #fff;
}

.card p{
    color: #000;
    font-size: 14px;
}

span:hover{
    color: var(--primary-color);
}

.card-img:hover{
    width: 100%;
    height: 100%;
    border-radius: unset;
    transform: unset;
    border: none;
}

.social i{
    margin-left: 15px;
    font-size: 18px;
}

.fa-facebook{
    color: blue;
}

.fa-instagram{
    color: pink;
}
.fa-youtube{
    color: red;
}
.fa-tiktok{
    color: purple;
}